fastapi==0.116.1
uvicorn==0.35.0
SQLAlchemy==2.0.43
aiosqlite==0.21.0
asyncpg
alembic==1.16.4
httpx==0.28.1
curl_cffi==0.7.4
beautifulsoup4==4.13.5
pydantic==2.11.7
asgiref==3.9.1
celery==5.5.3
redis==6.4.0

# Dev/test
pytest==8.4.2
pytest-asyncio==1.2.0
starlette==0.47.3
python-dotenv==0.21.0
